{% extends 'base.html' %}
{% block titulo %} Bienvenido a espacioadmin {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>
    <div class="fondor2">
        <div class="cont">
            <h1 class="etiq"><kbd>Recuperar Contraseña</kbd></h1>
        </div>
        <form action="/modificar_pass/{{cli.rut}}/" method="POST">
            {% csrf_token %}
            <div class="cont">
                <div class="panel_blanco">
                    <h1><kbd>{{ cli.nombre }} {{ cli.apellido_paterno }} {{ cli.apellido_materno }}</kbd></h1>
                    <h1>Contraseña: {{ form.contrasena }}</h1>
                    <input class="col-sm-12 btn btn-primary btn-lg" type="submit" value="Recuperar">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock contenido%}