{% extends 'base.html' %}
{% block titulo %} Bienvenido a espacioadmin {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>

    <div class="fondo_gestion">
        <div class="cont">
            <h1 class="etiq"><kbd>Listado de Usuarios</kbd></h1>
        </div>
        <form method="GET">
            <div class="cont">
                <h4 class="etiq"><kbd>Filtros de Busqueda</kbd></h4>
                <div class="col-sm-12 panel_blanco">
                    <div class="col-sm-4">
                        <h5>Rut:</h5>
                        {{ sol_filtro.form.rut }}
                        <h5>Correo:</h5>
                        {{ sol_filtro.form.correo }}
                        <h5>Nombre:</h5>
                        {{ sol_filtro.form.nombre }}
                    </div>
                    <div class="col-sm-4">
                        <h5>Apellido Paterno:</h5>
                        {{ sol_filtro.form.apellido_paterno }}
                        <h5>Descripción:</h5>
                        {{ sol_filtro.form.descripcion }}
                        <h5>Direccion:</h5>
                        {{ sol_filtro.form.direccion }}
                    </div>
                    <div class="col-sm-4">
                        <h5>Entrega inmediata:</h5>
                        {{ sol_filtro.form.entrega_inmediata }}
                        <h5>Dulce del Dia:</h5>
                        {{ sol_filtro.form.dulce_dia }}
                        <h5>Factura:</h5>
                        {{ sol_filtro.form.factura }}
                    </div>
                    <input class="col-sm-12 btn btn-primary" type="submit" value="Buscar">
                </div>
            </div>
        </form>
            {% for sol in solicitudes %}
            <div class="cont">
                <div class="col-sm-12 panel_blanco">
                    <div class="col-sm-12 info_usu">
                        <section class="col-sm-6">
                            <h1><kbd>{{ sol.id_solicitud }}</kbd></h1>
                            <h2>{{ sol.nombre }} {{ sol.apellido_paterno }}</h2>
                            <h4><kbd>{{ sol.descripcion }}</kbd></h4>
                            <h2>{{ sol.rut }}</h1>
                        </section>
                        <div class="col-sm-6 botones">
                            <a class="col-sm-12 btn btn-primary space-btn" href="/editar_solicitud/{{sol.id_solicitud}}">Modificar</a>
                            <a class="col-sm-12 btn btn-danger space-btn" href="/eliminar_solicitud/{{sol.id_solicitud}}">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</body>
</html>
{% endblock contenido%}